* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url("/src/styles/images/pexels2.jpg");
    background-size: 100%;
    font-family: "Open Sans", serif;
    font-size: 13px;
    padding: 80px;
    color: white;
  }
  
  .box {
    margin-top: 80px;
    padding: 35px;
    background-color: black;
    border: black;
  }
  
  h1 {
    font-size: 35px;
    margin: 25px;
    text-align: center;
  }
  
  h2 {
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  
  h3 {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: 100;
  }
  
  p { 
    margin-bottom: 20px;
    margin-left: 20px;
  }

  img { width: 30px; }

  .container {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
  .text { float: left; }
  .image { margin-top: 15px; }

  ul { margin-left: 25px; }
  
  nav {
    width: 100%;
    background-color: black;
    overflow: hidden;
  }
  
  .nav-left { float: left; }
  
  .nav-right { float: right; }
  
  .nav-left a:hover {
    background-color: white;
    color: #333;
  }
  
  .nav-left a.active {
    background-color:  #333;
    color: white;
  }
  
  .nav-left a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav-right a:hover {
    background-color: #333;
    color: white;
  }
  
  .nav-right a {
    float: left;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    background-color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  @media screen and (max-width: 500px) {
    .nav-left a {
      float: none;
      display: block;
    }
  }
  
  @media screen and (max-width: 500px) {
    .nav-right a {
      float: none;
      display: block;
    }
  }

.collapsible {
  background-color: #b9b9b9;
  color: black;    
  cursor: pointer;
  padding: 18px;
  width: 100%;    
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible1 {
  background-color: #c47b9d;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible2 {
  background-color: #c06a92;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible3 {
  background-color: #5e7199;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible4 {
  background-color: #476096;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible1:hover { background-color: #91a9dd; }
.collapsible2:hover { background-color: #91a9dd; }
.collapsible3:hover { background-color: #d6b8c6; }
.collapsible4:hover { background-color: #d6b8c6; }

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: white;
  color: black;
}

#nav_bar {
	position: fixed;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
}

@media screen and (max-aspect-ratio: 1/1) {
	#nav_bar  li{
		padding-top: 3vh;
	}
}