<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/src/styles/experience.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="icon" href="/src/styles/images/s.png"/>
    <title>Education and experience</title>
  </head>

  <body>
    <header class="header">
      <nav class="nav">
          <div class="nav-left">
              <a href="/index.html">Home</a>
              <a class="active" href="#experience">Education and Experience</a>
              <a href="/src/components/programming.html">Programming</a>
              <a href="/src/components/interests.html">Interests</a>
          </div>
          <div class="nav-right">
              <a><img href="mailto:sarah@foxeshollow.com" src="/src/styles/images/email.png" height="40px"></img></a>
              <a><img href="https://github.com/sclark003" src="/src/styles/images/github.png" height="40px"></img></a>
              <a><img href="https://www.linkedin.com/in/sarah-clark-282a43156/" src="/src/styles/images/linkedin.png" height="40px"></img></a>
          </div>
      </nav>
    </header>

    <section class="box">
      <h1 style="margin-bottom: 50px;">Education and Experience</h1>

      <section>
        <button type="button" class="collapsible">
          <h3>EDUCATION</h3>
          </button>
        <div class="content">
          <p></p>

          <button type="button" class="collapsible">
            <div class="container">
              <div class="image">
                <img src="/src/styles/images/QMU.jpg"></img>
              </div>
              <div>
                <h3>Queen Mary University of London (2020-21)</h3>
              </div>
          </div>
            </button>
          <div class="content">
            <p></p>
            <p>Artificial Intelligence MSc - Grade: Distinction</p>
        <button type="button" class="collapsible1">Modules</button>
        <div class="content">
          <p>
            <ul>
              <li>Machine Learning</li>
              <li>Data Mining</li>
              <li>Artificial Intelligence in Games</li>
              <li>Natural Language Processing</li>
              <li>Neural Networks and NLP</li>
              <li>Deep Learning and Computer Vision</li>
              <li>Deep Learning for Audio and Music</li>
              <li>Music Informatics</li>
            </ul>
          </p>
        </div>
        <button type="button" class="collapsible2">Projects</button>
        <div class="content">
          <p>
            <ul>
              <li>MSc Project: Sensing Home Activity with Microphones (2021): 
                <ul>
                  <li>Creating an Audio Event Recognition device to classify domestic activities using a Raspberry Pi. Developed convolutional neural network models using Python (PyTorch) and with a live audio input.</li>
                </ul>
              </li>
            </ul>
          </p>
        </div>
        <p></p>
          </div>
          <p></p>

          <button type="button" class="collapsible">
            <div class="container">
              <div class="image">
                <img src="/src/styles/images/UofG.png"></img>
              </div>
              <div>
                <h3>University of Glasgow (2016-20)</h3>
              </div>
          </div>
          </button>
          <div class="content">
            <p></p>
            <p>Electronics with Music BEng - Grade: 2.1</p>
        <button type="button" class="collapsible1">Modules</button>
        <div class="content">
          <p>
            <ul>
              <li>Year 1
                <ul>
                  <li>Electronic Engineering 1X</li>
                  <li>Electronic Engineering 1Y</li>
                  <li>Engineering Mathematics 1</li>
                  <li>Listening and Repertory</li>
                  <li>Musicianship</li>
                </ul>
              </li>
              <li>Year 2
                <ul>
                  <li>Analogue Electronics 2</li>
                  <li>Digital Electronics 2</li>
                  <li>Electrical Circuits 2</li>
                  <li>Electronic Design Project 2</li>
                  <li>Embedded Processors 2</li>
                  <li>Engineering Electromagnetics 2</li>
                  <li>Introductory Programming 2</li>
                  <li>Engineering Mathematics 2</li>
                </ul>
              </li>
              <li>Year 3
                <ul>
                  <li>Communication Systems 3</li>
                  <li>Control 3</li>
                  <li>Electromagnetic Compatability</li>
                  <li>Electronic System Design 3</li>
                  <li>Simulation of Engineering Systems 3</li>
                  <li>Real Time Computer Systems 3</li>
                  <li>Team Design Project EE3</li>
                  <li>Data Acquisition For Music Processing</li>
                  <li>Sonic Arts</li>
                </ul>
              </li>
              <li>Year 4
                <ul>
                  <li>Acoustics and Audio Technology</li>
                  <li>Audio Programming and Signal Processing</li>
                  <li>Digital Communications</li>
                  <li>Digital Signal Processing</li>
                  <li>Individual Project</li>
                  <li>Opera</li>
                </ul>
              </li>
            </ul>
          </p>
        </div>
        <button type="button" class="collapsible2">Projects</button>
        <div class="content">
          <p style="font-weight: 1000; margin: 15px; margin-bottom: 5px; margin-left: 5px;">
            Individual Projects:
            <ul>
              <li>BEng Final Year Project (2020): Investigation of the SNR Noise Wall on Consciously Generated EEG Signals: 
                <ul>
                  <li>Researching the SNR for different Brain-Computer Interface tasks, by referring to SNR 'walls', the hard limit where it is no longer possible to detect an event in the presence of noise. Developed software in python and C++ to perform real-time signal processing on EEG brain signals.</li>
                </ul>
              </li>
            </ul>
          </p>
          <p style="font-weight: 1000; margin-bottom: 5px; margin-left: 5px;">
            Team Projects:
            <ul>
              <li>Line follower robot which will sort coloured disks (2019): 
                <ul>
                  <li>Chosen as Team Leader. Planned task deadlines and distributed roles. Led software team and wrote code for motor control with pulse width modulation, colour sensing ultrasonic distance sensing and assisted with code for a black line follower. Encouraged less confident members to take more leading roles with support.</li>
                </ul>
              </li>
              <li>Pulse meter with LED pulse trace display (2018):
                <ul>
                  <li>Heavily involved in analogue circuit and PCB design. Researched and contributed to interrupt software.</li>
                </ul>
              </li>
            </ul>
          </p>
        </div>
        <button type="button" class="collapsible1">University Life</button>
        <div class="content">
          <p>
            <ul style="margin: 20px;">
              <li>Helped found ‘Sustainable Technologies’ society to promote sustainability in engineering and was later selected as Secretary. Responsible for managing communications, arranging rooms and transport. Helped organise events including team research projects based on the university’s new smart campus development, with support from local firms.</li>
              <li>Treasurer of the ‘Audio Electronics Society’ and helped plan and run sessions and labs for this.</li>
              <li>Member of the ‘FemEng’ (Female Engineering) society to promote women in STEM, and acted as a mentor for a younger female engineering student.</li>
              <li>Enjoyed participating and performing in musical extra-curricular activities.</li>
            </ul>
          </p>
        
        </div>
        <p></p>
        </div>
        <p></p>

        <button type="button" class="collapsible">
          <div class="container">
            <div class="image">
              <img src="/src/styles/images/bhs.png"></img>
            </div>
            <div>
              <h3>Beaconsfield High School (2011-16)</h3>
            </div>
        </div>
        </button>
        <div class="content">
          <p></p>
          <button type="button" class="collapsible1">A-Levels</button>
        <div class="content">
          <p>
            <ul>
              <li>Latin</li>
              <li>Physics</li>
              <li>Mathematics</li>
              <li>Further Mathematics (AS-Level)</li>
            </ul>
          </p>
        </div>
        <button type="button" class="collapsible2">GCSEs</button>
        <div class="content">
          <p>
            <ul>
              <li>Mathematics</li>
              <li>English Literature</li>
              <li>English Language</li>
              <li>Physics</li>
              <li>Chemistry</li>
              <li>Biology</li>
              <li>Geography</li>
              <li>French</li>
              <li>Latin</li>
              <li>Italian</li>
              <li>Graphics</li>
              <li>Music</li>
            </ul>
          </p>
        </div>
        <button type="button" class="collapsible1">School Life</button>
        <div class="content">
          <p>
            <ul>
              <li>Held multiple leadership roles throughout school career, such as Head Girl and Physics Prefect, responsible for giving speeches, leading tours, helping with open day events, and running the school’s ‘science club’.
              </li>
              <li>Lead maths workshops for younger students and local primary school children as a maths ambassador.</li>
            </ul>
          </p>
        </div>
        <p></p>
        </div>

        <p></p>

      </section>
      <p></p>

      <section>
        <button type="button" class="collapsible">
          <h3>PROFESSIONAL EXPERIENCE</h3>
          </button>
          <div class="content">
            <p></p>
          <button type="button" class="collapsible3">
            <div class="container">
              <div class="image">
                <img src="/src/styles/images/jpmc.jpg"></img>
              </div>
              <div>
                <h3>JP Morgan Chase (2022 - Present)</h3>
              </div>
          </button>
          <div class="content">
            <p>
              <ul>
                <li>Software Engineer II (2024-Present)</li>
                <li>Software Engineer I (2022-24)
                  <ul>
                    <li></li>
                  </ul>
                </li>
              </ul>
            </p>
          </div>
          <p></p>
      
          <button type="button" class="collapsible3">
            <div class="container">
              <div class="image">
                <img src="/src/styles/images/jpmc.jpg"></img>
              </div>
              <div>
                <h3>JP Morgan Chase (2022 - Present)</h3>
              </div>
          </button>
          <div class="content">
            <p>
              <ul>
                <li>Software Engineer II (2024-Present)</li>
                <li>Software Engineer I (2022-24)
                  <ul>
                    <li></li>
                  </ul>
                </li>
              </ul>
            </p>
          </div>
          <p></p>
          </div>
      </section>
      <p></p>

      <section>
        <button type="button" class="collapsible">
          <h3>PROFESSIONAL EXPERIENCE</h3>
          </button>
          <div class="content">
            <p></p>
          <button type="button" class="collapsible3">
            <div class="container">
              <div class="image">
                <img src="/src/styles/images/jpmc.jpg"></img>
              </div>
              <div>
                <h3>JP Morgan Chase (2022 - Present)</h3>
              </div>
          </button>
          <div class="content">
            <p>
              <ul>
                <li>Software Engineer II (2024-Present)</li>
                <li>Software Engineer I (2022-24)
                  <ul>
                    <li></li>
                  </ul>
                </li>
              </ul>
            </p>
          </div>
          <p></p>
      
          <button type="button" class="collapsible3">
            <div class="container">
              <div class="image">
                <img src="/src/styles/images/jpmc.jpg"></img>
              </div>
              <div>
                <h3>JP Morgan Chase (2022 - Present)</h3>
              </div>
          </button>
          <div class="content">
            <p>
              <ul>
                <li>Software Engineer II (2024-Present)</li>
                <li>Software Engineer I (2022-24)
                  <ul>
                    <li></li>
                  </ul>
                </li>
              </ul>
            </p>
          </div>
          <p></p>
          </div>
      </section>
      <p></p>
    
  </section>

  <script src="/src/scripts/experience.js"></script>
  
</body>

</html>