<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/src/styles/interests.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="icon" href="/src/styles/images/s.png"/>
    <title>Interests</title>
  </head>

  <body>
    <header class="header">
      <nav class="nav">
          <div class="nav-left">
              <a href="/index.html">Home</a>
              <a href="/src/components/experience.html">Education and Experience</a>
              <a href="/src/components/programming.html">Programming</a>
              <a class="active" href="#interests">Interests</a>
          </div>
          <div class="nav-right">
              <a><img href="mailto:sarah@foxeshollow.com" src="/src/styles/images/email.png" height="40px"></img></a>
              <a><img href="https://github.com/sclark003" src="/src/styles/images/github.png" height="40px"></img></a>
              <a><img href="https://www.linkedin.com/in/sarah-clark-282a43156/" src="/src/styles/images/linkedin.png" height="40px"></img></a>
          </div>
      </nav>
    </header>

    <section class="box">
      <h1>Interests</h1>
    <p class="first">
      Abc
    </p>

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 5700 2940">
      <image width="5700" height="2940" href="/src/styles/images/map.png"></image> <a href="/src/components/travel.html#hungary">
        <rect x="2954" y="644" fill="#fff" opacity="0" width="50" height="50"></rect>
      </a><a href="/src/components/travel#austria.html">
        <rect x="2903" y="581" fill="#fff" opacity="0" width="50" height="50"></rect>
      </a><a href="/src/components/travel.html#slovakia">
        <rect x="2944" y="589" fill="#fff" opacity="0" width="50" height="50"></rect>
      </a><a href="/src/components/travel.html#germany">
        <rect x="2834" y="527" fill="#fff" opacity="0" width="50" height="50"></rect>
      </a><a href="/src/components/travel.html#czechrepublic">
        <rect x="2860" y="574" fill="#fff" opacity="0" width="50" height="50"></rect>
      </a><a href="/src/components/travel.html#slovenia">
        <rect x="2876" y="623" fill="#fff" opacity="0" width="50" height="50"></rect>
      </a><a href="/src/components/travel.html#denmark">
        <rect x="2838" y="480" fill="#fff" opacity="0" width="50" height="50"></rect>
      </a><a href="/src/components/travel.html#sweden">
        <rect x="2913" y="410" fill="#fff" opacity="0" width="50" height="50"></rect>
      </a><a href="/src/components/travel.html#norway">
        <rect x="2821" y="403" fill="#fff" opacity="0" width="50" height="50"></rect>
      </a><a href="/src/components/travel.html#croatia">
        <rect x="2903" y="637" fill="#fff" opacity="0" width="50" height="50"></rect>
      </a><a href="/src/components/travel.html#croatia">
        <rect x="2914" y="670" fill="#fff" opacity="0" width="60" height="67"></rect>
      </a><a href="/src/components/travel.html#italy">
        <rect x="2826" y="674" fill="#fff" opacity="0" width="67" height="100"></rect>
      </a><a href="/src/components/travel.html#monaco">
        <rect x="2771" y="673" fill="#fff" opacity="0" width="50" height="50"></rect>
      </a><a href="/src/components/travel.html#spain">
        <rect x="2696" y="724" fill="#fff" opacity="0" width="50" height="50"></rect>
      </a><a href="/src/components/travel.html#gibraltor">
        <rect x="2590" y="803" fill="#fff" opacity="0" width="50" height="50"></rect>
      </a><a href="/src/components/travel.html#england">
        <rect x="2634" y="510" fill="#fff" opacity="0" width="100" height="80"></rect>
      </a><a href="/src/components/travel.html#scotland">
        <rect x="2619" y="453" fill="#fff" opacity="0" width="64" height="50"></rect>
      </a><a href="/src/components/travel.html#france">
        <rect x="2706" y="584" fill="#fff" opacity="0" width="50" height="50"></rect>
      </a><a href="/src/components/travel.html#northernireland">
        <rect x="2574" y="473" fill="#fff" opacity="0" width="50" height="50"></rect>
      </a><a href="/src/components/travel.html#norway">
        <rect x="2912" y="250" fill="#fff" opacity="0" width="50" height="50"></rect>
      </a><a href="/src/components/travel.html#norway">
        <rect x="2760" y="394" fill="#fff" opacity="0" width="50" height="53"></rect>
      </a><a href="/src/components/travel.html#iceland">
        <rect x="2449" y="337" fill="#fff" opacity="0" width="50" height="50"></rect>
      </a><a href="/src/components/travel.html#usa">
        <rect x="900" y="791" fill="#fff" opacity="0" width="50" height="50"></rect>
      </a><a href="/src/components/travel.html#usa">
        <rect x="1546" y="777" fill="#fff" opacity="0" width="50" height="50"></rect>
      </a><a href="/src/components/travel.html#usa">
        <rect x="1623" y="710" fill="#fff" opacity="0" width="50" height="50"></rect>
      </a><a href="/src/components/travel.html#southafrica">
        <rect x="2936" y="2046" fill="#fff" opacity="0" width="50" height="50"></rect>
      </a>
    </svg>

  <script src="/src/scripts/interests.js"></script>
  
</body>
</html>

</html>