<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/src/styles/interests.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="icon" href="/src/styles/images/s.png"/>
    <title>Interests</title>
  </head>

  <body>
    <header class="header">
      <nav class="nav">
          <div class="nav-left">
              <a href="/index.html">Home</a>
              <a href="/src/components/experience.html">Education and Experience</a>
              <a href="/src/components/programming.html">Programming</a>
              <a class="active" href="#interests">Interests</a>
          </div>
          <div class="nav-right">
              <a><img href="mailto:sarah@foxeshollow.com" src="/src/styles/images/email.png" height="40px"></img></a>
              <a><img href="https://github.com/sclark003" src="/src/styles/images/github.png" height="40px"></img></a>
              <a><img href="https://www.linkedin.com/in/sarah-clark-282a43156/" src="/src/styles/images/linkedin.png" height="40px"></img></a>
          </div>
      </nav>
    </header>


    <section class="box">
      <h1>Interests</h1>
    <p class="first">
      Abc
    </p>

    <img src="/src/styles/images/map.png" alt="Map" usemap="#workmap" style="width: 90%;">

    <map name="workmap">
      <area shape="rect" coords="34,44,270,350" alt="Computer" href="computer.htm">
      <area shape="rect" coords="290,172,333,250" alt="Phone" href="phone.htm">
      <area shape="circle" coords="337,300,44" alt="Coffee" href="coffee.htm">
    </map> 
  </section>
  
</body>
</html>

</html>