<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/src/styles/programming.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="icon" href="/src/styles/images/s.png"/>
    <title>Programming</title>
  </head>

  <body>
    <header class="header">
      <nav class="nav">
          <div class="nav-left">
              <a href="/index.html">Home</a>
              <a href="/src/components/experience.html">Education and Experience</a>
              <a class="active" href="#programming">Programming</a>
              <a href="/src/components/interests.html">Interests</a>
          </div>
          <div class="nav-right">
              <a><img href="mailto:sarah@foxeshollow.com" src="/src/styles/images/email.png" height="40px"></img></a>
              <a><img href="https://github.com/sclark003" src="/src/styles/images/github.png" height="40px"></img></a>
              <a><img href="https://www.linkedin.com/in/sarah-clark-282a43156/" src="/src/styles/images/linkedin.png" height="40px"></img></a>
          </div>
      </nav>
    </header>


    <section class="box">
      <h1>Programming</h1>
    <p class="first">
      Abc
    </p>
  </section>
  
</body>
</html>

</html>