<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/src/styles/travel.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="icon" href="/src/styles/images/s.png"/>
    <title>Interests</title>
  </head>

  <body>
    <header class="header">
      <nav class="nav">
          <div class="nav-left">
              <a href="/index.html">Home</a>
              <a href="/src/components/experience.html">Education and Experience</a>
              <a href="/src/components/programming.html">Programming</a>
              <a class="active" href="/src/components/interests.html">Interests</a>
          </div>
          <div class="nav-right">
              <a><img href="mailto:sarah@foxeshollow.com" src="/src/styles/images/email.png" height="40px"></img></a>
              <a><img href="https://github.com/sclark003" src="/src/styles/images/github.png" height="40px"></img></a>
              <a><img href="https://www.linkedin.com/in/sarah-clark-282a43156/" src="/src/styles/images/linkedin.png" height="40px"></img></a>
          </div>
      </nav>
    </header>

    <section class="box">
    <h1>Travel</h1>
    <h2 id="england">England</h2>
    <h2 id="scotland">Scotland</h2>
    <h2 id="northernireland">Northern Ireland</h2>
    <h2 id="france">France</h2>
    <h2 id="spain">Spain</h2>
    <h2 id="monaco">Monaco</h2>
    <h2 id="italy">Italy</h2>
    <h2 id="germany">Germany</h2>
    <h2 id="austria">Austria</h2>
    <h2 id="czechrepublic">Czech Republic</h2>
    <h2 id ="hungary">Hungary</h2>
    <h2 id="slovakia">Slovakia</h2>
    <h2 id="slovenia">Slovenia</h2>
    <h2 id="croatia">Croatia</h2>
    <h2 id="denmark">Denmark</h2>

    <h2 id="norway">Norway</h2>
    <div class="container">

      <!--Norway-->
      <div class="mySlides"><div class="numbertext">1 / 21</div><img src="/src/styles/images/Map/Norway/alesund.jpg" style="width:1000px"></div>
      <div class="mySlides"><div class="numbertext">2 / 21</div><img src="/src/styles/images/Map/Norway/art.jpeg" style="width:1000px"></div>
      <div class="mySlides"><div class="numbertext">3 / 21</div><img src="/src/styles/images/Map/Norway/brown_church.jpg" style="width:1000px"></div>
      <div class="mySlides"><div class="numbertext">4 / 21</div><img src="/src/styles/images/Map/Norway/fjellheisen.jpg" style="width:1000px"></div>
      <div class="mySlides"><div class="numbertext">5 / 21</div><img src="/src/styles/images/Map/Norway/fjord.jpg" style="width:1000px"></div>
      <div class="mySlides"><div class="numbertext">6 / 21</div><img src="/src/styles/images/Map/Norway/glacier.jpg" style="width:1000px"></div>
      <div class="mySlides"><div class="numbertext">7 / 21</div><img src="/src/styles/images/Map/Norway/hut.jpg" style="width:1000px"></div>
      <div class="mySlides"><div class="numbertext">8 / 21</div><img src="/src/styles/images/Map/Norway/hut2.jpg" style="width:1000px"></div>
      <div class="mySlides"><div class="numbertext">9 / 21</div><img src="/src/styles/images/Map/Norway/island_church.jpg" style="width:1000px"></div>
      <div class="mySlides"><div class="numbertext">10 / 21</div><img src="/src/styles/images/Map/Norway/trolls.jpg" style="width:1000px"></div>
      <div class="mySlides"><div class="numbertext">11 / 21</div><img src="/src/styles/images/Map/Norway/lights.jpg" style="width:1000px"></div>
      <div class="mySlides"><div class="numbertext">12 / 21</div><img src="/src/styles/images/Map/Norway/red_church.jpeg" style="width:1000px"></div>
      <div class="mySlides"><div class="numbertext">13 / 21</div><img src="/src/styles/images/Map/Norway/rocks.jpg" style="width:1000px"></div>
      <div class="mySlides"><div class="numbertext">14 / 21</div><img src="/src/styles/images/Map/Norway/sign.jpg" style="width:1000px"></div>
      <div class="mySlides"><div class="numbertext">15 / 21</div><img src="/src/styles/images/Map/Norway/stavanger.jpg" style="width:1000px"></div>
      <div class="mySlides"><div class="numbertext">16 / 21</div><img src="/src/styles/images/Map/Norway/swords.jpg" style="width:1000px"></div>
      <div class="mySlides"><div class="numbertext">17 / 21</div><img src="/src/styles/images/Map/Norway/troll.jpg" style="width:1000px"></div>
      <div class="mySlides"><div class="numbertext">18 / 21</div><img src="/src/styles/images/Map/Norway/view.jpg" style="width:1000px"></div>
      <div class="mySlides"><div class="numbertext">19 / 21</div><img src="/src/styles/images/Map/Norway/vigland_park.jpg" style="width:1000px"></div>
      <div class="mySlides"><div class="numbertext">20 / 21</div><img src="/src/styles/images/Map/Norway/vikings.jpeg" style="width:1000px"></div>
      <div class="mySlides"><div class="numbertext">21 / 21</div><img src="/src/styles/images/Map/Norway/waterfall.jpeg" style="width:1000px"></div>
      
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
      <div class="caption-container" style="width: 1000px;"><p id="caption"></p></div>

      <div class="row">
        <div class="column"><img class="demo cursor" src="/src/styles/images/Map/Norway/alesund.jpg" style="width:100%; height:100%;" onclick="currentSlide(1)" alt="Aksla Viewpoint - Ålesund, Norway"></div>
        <div class="column"><img class="demo cursor" src="/src/styles/images/Map/Norway/art.jpeg" style="width:100%; height:100%;" onclick="currentSlide(2)" alt="Porten til Ishavet (The Gateway to the Arctic) - Tromsø, Norway"></div>
        <div class="column"><img class="demo cursor" src="/src/styles/images/Map/Norway/brown_church.jpg" style="width:100%; height:100%;" onclick="currentSlide(3)" alt="Gol Stave Church - Oslo, Norway"></div>
        <div class="column"><img class="demo cursor" src="/src/styles/images/Map/Norway/fjellheisen.jpg" style="width:100%; height:100%;" onclick="currentSlide(4)" alt="Fjellheisen - Tromsø, Norway"></div>
        <div class="column"><img class="demo cursor" src="/src/styles/images/Map/Norway/fjord.jpg" style="width:100%; height:100%;" onclick="currentSlide(5)" alt="Tromvik - Tromsø, Norway"></div>
        <div class="column"><img class="demo cursor" src="/src/styles/images/Map/Norway/glacier.jpg" style="width:100%; height:100%;" onclick="currentSlide(6)" alt="Ålesund havn - Ålesund, Norway"></div>
        <div class="column"><img class="demo cursor" src="/src/styles/images/Map/Norway/hut.jpg" style="width:100%; height:100%;" onclick="currentSlide(7)" alt="Kvaløya - Tromsø, Norway"></div>
        <div class="column"><img class="demo cursor" src="/src/styles/images/Map/Norway/hut2.jpg" style="width:100%; height:100%;" onclick="currentSlide(8)" alt="Norsk Folkemuseum - Oslo, Norway"></div>
        <div class="column"><img class="demo cursor" src="/src/styles/images/Map/Norway/island_church.jpg" style="width:100%; height:100%;" onclick="currentSlide(9)" alt="Giske kyrkje - Ålesund, Norway"></div>
        <div class="column"><img class="demo cursor" src="/src/styles/images/Map/Norway/trolls.jpg" style="width:100%; height:100%;" onclick="currentSlide(10)" alt="Trolls - Oslo, Norway"></div>
        <div class="column"><img class="demo cursor" src="/src/styles/images/Map/Norway/lights.jpg" style="width:100%; height:100%;" onclick="currentSlide(11)" alt="Northern Lights - Tromsø, Norway"></div>
        <div class="column"><img class="demo cursor" src="/src/styles/images/Map/Norway/red_church.jpeg" style="width:100%; height:100%;" onclick="currentSlide(12)" alt="Stave Church - Olden, Norway"></div>
        <div class="column"><img class="demo cursor" src="/src/styles/images/Map/Norway/rocks.jpg" style="width:100%; height:100%;" onclick="currentSlide(13)" alt="Briksdalsbreen - Olden, Norway"></div>
        <div class="column"><img class="demo cursor" src="/src/styles/images/Map/Norway/sign.jpg" style="width:100%; height:100%;" onclick="currentSlide(14)" alt="Haugesund, Norway"></div>
        <div class="column"><img class="demo cursor" src="/src/styles/images/Map/Norway/stavanger.jpg" style="width:100%; height:100%;" onclick="currentSlide(15)" alt="Stavanger - Tromsø, Norway"></div>
        <div class="column"><img class="demo cursor" src="/src/styles/images/Map/Norway/swords.jpg" style="width:100%; height:100%;" onclick="currentSlide(16)" alt="Sverd i fjell - Stavanger, Norway"></div>
        <div class="column"><img class="demo cursor" src="/src/styles/images/Map/Norway/troll.jpg" style="width:100%; height:100%;" onclick="currentSlide(17)" alt="Troll - Stavanger, Norway"></div>
        <div class="column"><img class="demo cursor" src="/src/styles/images/Map/Norway/view.jpg" style="width:100%; height:100%;" onclick="currentSlide(18)" alt="Grøtfjord - Tromsø, Norway"></div>
        <div class="column"><img class="demo cursor" src="/src/styles/images/Map/Norway/vigland_park.jpg" style="width:100%; height:100%;" onclick="currentSlide(19)" alt="Vigland Park - Oslo, Norway"></div>
        <div class="column"><img class="demo cursor" src="/src/styles/images/Map/Norway/vikings.jpeg" style="width:100%; height:100%;" onclick="currentSlide(20)" alt="Viking Village - Avaldsnes, Bukkøy, Norway"></div>
        <div class="column"><img class="demo cursor" src="/src/styles/images/Map/Norway/waterfall.jpeg" style="width:100%; height:100%;" onclick="currentSlide(21)" alt="Briksdalsbreen - Olden, Norway"></div>
      </div>

    </div>
    
    <h2 id="sweden">Sweden</h2>
    <h2 id="iceland">Iceland</h2>
    <h2 id="usa">United States of America</h2>
    <h2 id="southafrica">South Africa</h2>
      
  </section>
  
<script src="/src/scripts/travel.js"></script>

</body>

</html>
